/%p#notice= notice

.jumbotron
  .row
    .col-lg-12
      .headline
        %h1 Never forget about who owes what!
      .longer-headline
        %strong 
          Share
        bills and IOUs.
        %strong
          Make sure
        everybody gets paid back.

.jumbotron
  .row
    .col-lg-12
      %h2 Pannier does the math for you
      %p Pannier keeps a running total over time, so you can pay each other back in one big payment, instead of a bunch of small ones.

.jumbotron
  .btn-center
    %a.btn.btn-xlg.btn-primary{href: "/singup"}
      Sing up now »
