$primary: #6C4fCC;
$secondary: #6ECEBE;
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 55px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px -3px 7px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 3px -7px 0px rgba(0,0,0,0.6);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 0px;
    font-weight: bold;
}
h1 {
  font-size: 30px;
  line-height: 36px;
}
.navbar {
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
  margin-bottom: 10px;
}
.bgimage {
  background: url(image_path("background_woman.jpg"));
  background-size: cover;
}
.jumbotron {
  background: rgba(255, 255, 255, 0.8)
}
.navbar-brand img {
  max-height: 20px;
}
.headline h1 {
  text-align: center;
  font-size: 50px;
  white-space: nowrap;
}
.longer-headline {
  text-align: center;
  font-size: 21px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 26px;
}
.btn-xlg {
  padding: 20px 50px;
}
.btn-center {
  text-align: center;
}
.btn-margin-top {
  margin-top: 10px;
}
.btn-margin-left {
  margin-left: 5px;
}
.btn-margin-right {
  margin-right: 5px;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.btn-cyan {
    background: #6ecebe;
    color: #fff;
}
.btn-blue {
    background: blue;
    color: #fff;
}
.top-margin-header {
  padding-top: 7px;
}
.center {
  text-align: center;
}
.what {
  background: red;
}
